body {
  /* Location of the image */
  background-image: url("/images/background.jpg");

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
while the background image is loading */
  background-color: #464646;
}
/*Modal*/
#content {
  background-color: #efefef;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  margin: 10px 20px;
  padding: 10px;
  border: none;
}

#createBtn{
  align-self: center;
  width: 80px;
}

/*post buttons*/
.postButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12%;
  font-size: 20px;
}

#createPost,
#allPosts {
  background-color: orange;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border: 2px ridge white;
}